.action-button-component {
    height: 3.2rem;
    padding: 0 1.2rem;
    background: var(--color-primary);
    border-radius: .2rem;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: var(--color-lighter);
    font-weight: 700;
    transition: .3s;
    cursor: pointer;
}

.action-button-component:hover {
    opacity: .8;
}

.action-button-component:disabled {
    opacity: .4;
    cursor: not-allowed;
}
