.login-register-shared {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-register-shared .login-wrapper {
    max-width: 540px;
    width: 90%;
    margin: auto;
    border: .1rem solid rgba(0, 0, 0, .2);
    padding: 1.6rem;
    border-radius: .2rem;
}

.login-register-shared .login-wrapper > header {
    text-align: center;
    margin: .8rem 0 1.6rem 0;
}

.login-register-shared .login-wrapper > header span:first-child {
    font-size: 3.2rem;
    line-height: 4rem;
    color: var(--color-primary);
}

.login-register-shared .login-wrapper > header span:first-child span {
    font-size: 3.2rem;
    line-height: 4rem;
    background-color: var(--color-primary);
    border-radius: .2rem;
    color: var(--color-lighter);
    padding: 0 .4rem;
    margin-right: .2rem;
}

.login-register-shared .login-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
