:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

body, #root {
  min-height: 100vh;
}

body, input, button, textarea {
  font-family: "Ubuntu", sans-serif;
}

.wrapper {
  max-width: 768px;
  width: 90%;
  margin: 0 auto;
}
