#base-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#base-screen > header {
    width: 100%;
    height: 4.8rem;
    display: flex;
    background-color: var(--color-primary);
    color: var(--color-lighter);
}

#base-screen > header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#base-screen > header span:first-child {
    font-size: 2.4rem;
    line-height: 3.2rem;
}

#base-screen > header span:first-child span {
    font-size: 2.4rem;
    line-height: 3.2rem;
    background-color: var(--color-lighter);
    border-radius: .2rem;
    color: var(--color-primary);
    padding: 0 .4rem;
    margin-right: .2rem;
}

#base-screen > header button {
    gap: 1.6rem;
    background-color: var(--color-lighter);
    color: var(--color-primary);
}

#base-screen main {
    padding: 1.6rem 0;
}

.wrapper {
    max-width: 768px;
    width: 90%;
    margin: 0 auto;
}
