#login-screen .login-wrapper footer {
    text-align: center;
    margin: 2.4rem 0 .8rem 0;
}

#login-screen .login-wrapper footer span {
    font-size: .8rem;
    line-height: 2rem;
}

#login-screen .login-wrapper footer span a {
    color: var(--color-primary);
    font-weight: 500;
    transition: .3s;
}

#login-screen .login-wrapper footer span a:hover {
    opacity: .8;
}
