#login-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#login-screen .login-wrapper {
    max-width: 540px;
    width: 90%;
    margin: auto;
    border: .1rem solid rgba(0, 0, 0, .2);
    padding: 1.6rem;
    border-radius: .2rem;
}

#login-screen .login-wrapper > header {
    text-align: center;
    margin: .8rem 0 1.6rem 0;
}

#login-screen .login-wrapper > header span:first-child {
    font-size: 3.2rem;
    line-height: 4rem;
    color: var(--color-primary);
}

#login-screen .login-wrapper > header span:first-child span {
    font-size: 3.2rem;
    line-height: 4rem;
    background-color: var(--color-primary);
    border-radius: .2rem;
    color: var(--color-lighter);
    padding: 0 .4rem;
    margin-right: .2rem;
}

#login-screen .login-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

#login-screen .login-wrapper footer {
    text-align: center;
    margin: 2.4rem 0 .8rem 0;
}

#login-screen .login-wrapper footer span {
    font-size: .8rem;
    line-height: 2rem;
}

#login-screen .login-wrapper footer span a {
    color: var(--color-primary);
    font-weight: 500;
    transition: .3s;
}

#login-screen .login-wrapper footer span a:hover {
    opacity: .8;
}
