#send-screen {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

#send-screen > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#send-screen form, #send-screen form > div {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.send-email-upload:first-child {
    height: 20rem;
}

.send-email-upload {
    border: .1rem solid var(--color-primary);
    border-radius: .2rem;
}

.send-email-upload object {
    color: var(--color-primary);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-email-upload label {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: .4rem;
    color: var(--color-primary);
    transition: .3s;
}

.send-email-upload label svg {
    display: none;
}

.send-email-upload {
    height: 4rem;
    width: 100%;
    position: relative;
}

.send-email-upload label:hover {
    background-color: var(--color-dark);
}

.send-email-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.send-email-item > div:last-child {
    display: flex;
    align-self: center;
    gap: .4rem;
    justify-content: end;
}

.send-email-item > div button {
    flex: 1;
}

#send-screen > footer {
    display: flex;
    flex-direction: column;
}

@media (min-width: 540px) {
    .send-email-upload label svg {
        display: unset;
    }

    .send-email-item {
        display: flex;
    }

    .send-email-item > div:not(:last-child) {
        flex: 1;
    }

    .send-email-item > div:last-child {
        display: flex;
        align-self: end;
        gap: .4rem;
        margin-left: .8rem;
    }

    .send-email-item > div button {
        flex: 0;
    }
}
